body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.hero {
    height: 80vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    color: white;
    display: flex;
    align-items: center;
}

.hero h1 span {
    font-weight: bold;
}

.skill-box {
    padding: 20px;
    background: #f8f9fa;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: 500;
}
